campground.pug

doctype html 
html
    head
        meta(charset='utf-8')
        title 캠핑장 상세정보
        script(src='/campground_main.js') 
    body
        div(style='font-size: 3em')= camp_name
        h2 캠핑장 이미지
        div(style='font-size: 1em')= camp_location
        br
        button(type='button' value=`${id}` onclick='goToReservationPage(value)') 예약
        br
        br
        -var check = check;
        button(type='button' value=`${id}` onclick='c1(value)') 정보
        button(type='button' value=`${id}` onclick='c2(value)') QnA
        button(type='button' value=`${id}` onclick='c3(value)') 후기
        br
        hr
        case check
            when '0'
                div= camp_information
            when '1'
                -for (i in camp_QnA)
                    p [내용]
                    div= camp_QnA[i]
                    button(type='button' value=`${qna_id[i]}` onclick='modifyQnA(value)') 수정
                    button(type='button' value=`${qna_id[i]}` onclick='deleteQnA(value)') 삭제
                    br
                    br
            when '2'
                -for (i in camp_review)
                    p [내용]
                    div= camp_review[i] 
                    p [별점]
                    div= star_point[i] 
                    button(type='button' value=`${review_id[i]}` onclick='modifyReview(value)') 수정
                    button(type='button' value=`${review_id[i]}` onclick='deleteReview(value)') 삭제
                    br
                    br