doctype html 
html
    head
        title 마이페이지
        script(src='/mypage.js') 
        link(rel='stylesheet' href='/static/mypage.css')
        link(rel='stylesheet' href='/static/main.css')
    body

        center
            img(src='/image/campers_logo.jpg' alt='logo title' width='150' onclick="location.href='/'")
            
            br
            h1 마이페이지
            h3 내 정보
            div(class = 'mypage-layout')
                label(class='mypage-font')  [이름]&nbsp;
                p=userInfo.name
            div(class = 'mypage-layout')
                label(class='mypage-font')  [이메일]&nbsp;
                p= userInfo.email 
            div(class = 'mypage-layout')
                label(class='mypage-font')  [번호]&nbsp;
                p= userInfo.phoneNumber
            input(class='basic-button' type='button' value='수정' onclick="location.href='/updatemyinfo'")
            br
            br

            hr
            
            h3 예약 내역
            -for (camp in campgroundName)
                div(class = 'reservation-layout')
                    div(class='reservation-detail-layout')
                        label(class='mypage-font') [캠핑장 이름]&nbsp;
                        p= campgroundName[camp] 
                    div(class='reservation-detail-layout')
                        label(class='mypage-font')  [입실 날짜]&nbsp;
                        p= startDate[camp]
                    div(class='reservation-detail-layout')
                        label(class='mypage-font')  [퇴실 날짜]&nbsp;
                        p= endDate[camp]
                    div(class='reservation-detail-layout')
                        label(class='mypage-font')  [승인 날짜]&nbsp;
                        p= approvalDate[camp]
                    div(class='reservation-detail-layout')
                        label(class='mypage-font')  [체크인 날짜]&nbsp;
                        p= checkinDate[camp]
                    div(class='reservation-detail-layout')
                        img(src='/image/icon-kakao.png')
                        button(class='basic-button' type='button' value=`${_id[camp]}` onclick='delete_reservation(value)') 예약 취소
                        button(class='basic-button' type='button' value=`${_id[camp]}` onclick='write_review(value)') 후기 작성
                br
                br
            br
            hr
        
            button(class='basic-button' type="button" onclick="location.href='/logout'") 로그아웃
            br
            br
            button(class='basic-button' type="button" value=`${userInfo.email}` onclick='delete_user_info(value)') 회원탈퇴