doctype html 
html
    head
        title 마이페이지
        script(src='/mypage.js') 
    body
        h1 마이페이지
            h3 내 정보
            label [이름]
            p= userInfo.name
            label [이메일]
            p= userInfo.email 
            label [번호]
            p= userInfo.phoneNumber
            input(type='button' value='수정' onclick="location.href='/updateUserInfo'")
            br
            br

            hr
            
            h3 예약 내역
            -for (camp in campgroundName)
                label [캠핑장 이름]
                p= campgroundName[camp] 
                label [입실 날짜]
                p= startDate[camp]
                label [퇴실 날짜]
                p= endDate[camp]
                label [승인 날짜]
                p= approvalDate[camp]
                label [체크인 날짜]
                p= checkinDate[camp]
                img(src='/image/icon-kakao.png')
                button(type='button' value=`${_id[camp]}` onclick='delete_reservation(value)') 예약 취소
                button(type='button' value=`${_id[camp]}` onclick='write_review(value)') 후기 작성
                br
                br
            br
            hr
        
        button(type="button" onclick="location.href='/logout'") 로그아웃
        br
        br
        button(type="button" value=`${userInfo.email}` onclick='delete_user_info(value)') 회원탈퇴