doctype html 
html
    head
        title 마이페이지
        script(src='/main.js') 
        script(src='/mypage.js')
    body
        h1 마이페이지
            h3 내 정보
            label [이름]
            p= userInfo.name
            label [이메일]
            p= userInfo.email 
            label [번호]
            p= userInfo.phoneNumber
            input(type='button' value='수정' onclick="location.href='/updateUserInfo'")
            br
            br

            hr

            h3 내 캠핑장 목록
            input(type='button' onclick="location.href='/setcampinfo'" value='등록')
            br
            -for (camp in camp_name)
                button(value=`${camp_id[camp]}` onclick='goToCampgroundPage(value)' style='border: 0px none; background-color: transparent;')
                    div(style='font-size: 1em')= camp_location[camp]
                    div(style='font-size: 1em')= camp_name[camp]
                br
                button(value=`${camp_id[camp]}` onclick='delete_campground_info(value)') 삭제
                br

            hr

            h3 예약 요청 현황
            -for (res in reservation_email)
                div= reservation_email[res] 
                div= start_date[res]
                div= end_date[res]
                div= number_of_people[res]
                button(type='button') 승인
                button(type='button') 반려
                button(type='button') 체크인
                
                label [예약자]
                div= reservation_email[res] 
                label [입실 날짜]
                div= start_date[res]
                label [퇴실 날짜]
                div= end_date[res]
                label [숙박 인원]
                div= number_of_people[res]
                button(type='button' value=`${reservation_id[res]}` onclick='approval_reservation(value)') 승인
                button(type='button' value=`${reservation_id[res]}` onclick='delete_reservation(value)') 반려
                button(type='button' value=`${reservation_id[res]}` onclick='checkin_reservation(value)') 체크인
                br
                br
    button(type="button" onclick="location.href='/logout'") 로그아웃
    br
    br
    button(type="button" value=`${userInfo.email}` onclick='delete_user_info(value)') 회원탈퇴